html {
    scroll-behavior: smooth;
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: linear-gradient(rgba(26, 26, 26, 0.8), rgba(20, 20, 20, 0.8)), url("img/galax1.jpg");
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.shrink {
    padding: 0.5em 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, padding 0.3s ease;
}

nav ul li a:hover {
    color: #069fce;
    padding-left: 8px;
}

nav ul li a.active {
    border-bottom: 2px solid #069fce;
}

section {
    padding: 20px;
}

.typed-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.highlight {
    color: #069fce;
}

.typed-text::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.typed-text:hover::after {
    transform: scaleX(1);
}

.inicio-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0)), url("img/galax1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.inicio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


#particles2-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Esto asegura que las partículas queden detrás del contenido */
}

.about-section {
    position: relative;
    min-height: 100vh;
    padding: 50px 0;
    background: linear-gradient(rgb(0, 0, 0), rgba(14, 58, 38, 0.8));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.about-content {
    position: relative; /* Cambia de 'absolute' a 'relative' */
    color: white;
    text-align: left; /* Cambia de 'center' a 'left' */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%; /* Añade padding horizontal para no pegar el contenido a los bordes */
}

.column {
    flex: 1;
    padding: 20px; 
    max-width: 300px;
}


.about-content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 4px solid #3498db;
    display: inline-block;
}

/* Estilo para el subtítulo "Descubre más sobre mi experiencia y habilidades." */

.about-content p:first-child {
    font-size: 25px;
    margin-bottom: 60px;
    color: #ccc;
}

/* Estilo para los subtítulos dentro de la sección */

.about-content h3 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    font-weight: 600;
    border-bottom: 3px solid #3498db;
    display: inline-block;
}

/* Estilo para los párrafos */

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #ccc;
}

/* Estilo para la lista */

.about-content ul {
    margin-left: 40px;
    color: #ccc;
}

/* Estilo para los elementos de la lista */

.about-content li {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Estilo para el link de contacto */

.about-content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}


#habilidades {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* temporalmente estableciendo un valor alto */
}


.habilidades-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 20px; 
    background: rgba(14, 58, 38, 0.8);
    color: white;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

/* Contenedor de habilidad */
.habilidad {
    margin: 10px 0;
    width: 80%;
    text-align: left;
    opacity: 1;
    z-index: 2;
}

/* Ajuste de tiempos de animación para cada habilidad */
.habilidad:nth-child(1) { animation-delay: 0.2s; }
.habilidad:nth-child(2) { animation-delay: 0.4s; }
.habilidad:nth-child(3) { animation-delay: 0.6s; }
.habilidad:nth-child(4) { animation-delay: 0.8s; }
.habilidad:nth-child(5) { animation-delay: 1.0s; }
.habilidad:nth-child(6) { animation-delay: 1.2s; }

/* Título de la habilidad */
.habilidad-title {
    font-size: 20px;
    margin-bottom: 5px; 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


/* Contenedor de la barra de progreso */
.barra-progreso {
    background-color: #44475a;
    border-radius: 10px; /* Borde de radio más pequeño */
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 20px; 
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 25px;
}

/* Efecto hover en la barra de progreso */
.barra-progreso:hover {
    box-shadow: 0px 0px 30px rgba(80, 250, 123, 0.6); /* Sombra verde en hover */
}

/* Barra de progreso */
.progreso {
    height: 100%;
    width: 0;
    border-radius: 20px;
    background: linear-gradient(90deg, #50fa7b, #8be9fd);
    transition: width 2s ease-in-out;
    z-index: 2;
}

/* Estilos específicos para cada habilidad */
.html { background: linear-gradient(90deg, #f06529, #f9ad81); }
.css { background: linear-gradient(90deg, #2965f1, #74a2f7); }
.js { background: linear-gradient(90deg, #f0db4f, #f5e78e); }
.php { background: linear-gradient(90deg, #8993be, #b3b8d4); }
.mysql { background: linear-gradient(90deg, #00718b, #5ca7b2); }
.api { background: linear-gradient(90deg, #50fa7b, #8be9fd); }

/* Animaciones */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    text-align: center;
    padding: 1em 0;
    background: #35424a;
    color: white;
}
