body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

/* Estilos para el efecto Parallax */
.parallax {
    background-image: url('tu-imagen.jpg'); /* Asegúrate de reemplazar tu-imagen.jpg con la ruta de tu imagen */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #35424a;
    color: white;
}

.inicio-section {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Altura definida */
    background-color: #222; /* Color de fondo oscuro */
}

.inicio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

